@model List<Booking>

<a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Return</a>

@foreach(var booking in Model)
{
    <div class="card" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">Booking ID: @booking.BookingID</h5>

            <p class="card-text">CustomerID: @booking.CustomerID</p>
            <p class="card-text">TableID: @booking.TableID</p>
            <p class="card-text">Amount of people: @booking.AmountOfPeople</p>
            <p class="card-text">Time: @booking.Time</p>
            <p class="card-text">TimeEnd: @booking.TimeEnd</p>
            <a asp-controller="Bookings" asp-action="Edit" asp-route-id=@booking.BookingID class="btn btn-warning">Edit</a>


            <form method="post" asp-action="Delete" style="display:inline;">
                <input type="hidden" name="bookingID" value="@booking.BookingID" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </div>
    </div>
}

<a asp-action="Create" asp-controller="Bookings" class="btn btn-primary">Create</a>

