@model List<MenuItem>

<a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Return</a>

@foreach (var menuItem in Model)
{
    <div class="card" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">@menuItem.Name</h5>

            <p class="card-text">Menu ID: @menuItem.MenuID</p>
            <p class="card-text">Price: @menuItem.Price</p>
            <p class="card-text">Availability: @menuItem.IsAvailable</p>
            <p class="card-text">Discription: @menuItem.Description</p>
            <a asp-controller="MenuItems" asp-action="Edit" asp-route-menuItemID=@menuItem.MenuItemID class="btn btn-warning">Edit</a>


            <form method="post" asp-action="Delete" style="display:inline;">
                <input type="hidden" name="menuItemID" value="@menuItem.MenuItemID" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </div>
    </div>
}

<a asp-action="Create" asp-controller="MenuItems" class="btn btn-primary">Create</a>

